table{
  margin: 0 auto;
  width: 700px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

table td{
  padding: 15px;
  background-color: #eee;
}

table thead td{
  background-color: rgb(83, 83, 83);
  color: white;
  font: bold;
}

.luffy{
  background-image: url(luffy.jpg);
  position: relative;
  background-size: 80px;
  height: 90px;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative; 
  display: flex;
}

.v{
  background-color: deepskyblue;
  margin: 0 auto;
  position: relative;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 45px;
  padding: 2px;
  left: -27px;
  
}

.d{
  background-color: rgb(240, 69, 111);
  margin: 0 auto;
  position: relative;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 53px;
  padding: 4px;
  left: 7px;
  border: none;
  cursor: pointer;
}
.d:hover{
  width:60px;
}

.naruto{
  background-image: url(Naruto.png);
  position: relative;
  background-size: 80px;
  height: 90px;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative; 
  display: flex;
}
.kakashi{
  background-image: url(kakashi-hatake-553.jpg);
  position: relative;
  background-size: 80px;
  height: 90px;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative; 
  display: flex;
}
